<h1>Sign Up Below:</h1>
<form method="post" action="/registration">
  <input type="text" name="name">
  <input type="email" name="email">
  <input type="password" name="password">
  <input type="submit" id="submit" name="Sign Up">
</form>
